.main {
	height: 100%;
}

.main__wrapper{
	background: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #FF5E56;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main__button {
  width: 198px;
	height: 56px;
  background-color: transparent;
  color: #fff;
  border-radius: 6px;
  filter: drop-shadow(0px 0px 44px #CFDAE7);
  border: 1px solid #FFFFFF;
}